root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[{GNUmakefile,[Mm]akefile,*.mk}]
indent_style = tab

[*.{sh,zsh}]
# shfmt
binary_next_line = true
switch_case_indent = true
space_redirects = false
keep_padding = true
function_next_line = false

[*.{json,json5,jsonc}]
indent_size = 2

[{*.yml,*.yaml,.condarc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[.git*]
indent_style = tab
