root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 80
tab_width = 4
trim_trailing_whitespace = true

[{*.bash,*.sh,*.zsh}]
indent_style = space

[*.json]
indent_style = space

[{*.py,*.pyw,*.pyi}]
indent_style = space
max_line_length = 120

[{*.yaml,*.yml}]
indent_size = 2

[*.md]
max_line_length = 0
trim_trailing_whitespace = false
