[user]
	name = lazyboy
	email = lazyboy.fan@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	quotepath = false
	ignorecase = false

[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro

[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true

[tag]
	sort = -version:refname

[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple

[pull]
	rebase = true

[init]
	defaultBranch = master

[merge]
	ff = no

[log]
	date = iso-strict-local

# [credential]
# 	helper = store

[alias]
	# List all git aliases
	alias = config --get-regexp ^alias\\.
	# Rewrite author/committer name/email in entire history
	# git rewrite-name "old name" "new name"
	rewrite-name = "!f() { old=\"$1\"; new=\"$2\"; git filter-repo --force --name-callback \"return b\\\"$new\\\" if name == b\\\"$old\\\" else name\"; }; f"
	# git rewrite-email "old email" "new email"
	rewrite-email = "!f() { old=\"$1\"; new=\"$2\"; git filter-repo --force --email-callback \"return b\\\"$new\\\" if email == b\\\"$old\\\" else email\"; }; f"

	# Discard all local changes in working directory
	discard = reset --hard HEAD
	# Undo the last commit, keeping all changes staged
	undo = reset --soft HEAD^
	# Discard the last commit and all associated changes
	cancel = reset --hard HEAD^
	# Amend the last commit without changing its commit message
	amend = commit --amend --no-edit
